<template>
  <div>
    <Nav :user="user"/>
    <v-main>
      <router-view/>
    </v-main>
  </div>
</template>
<script>
import Nav from '../nav';
export default {
  props: ['user'],
  components: {
    Nav,
  }
}
</script>
