<template>
    <v-row class="pa-5">
      <v-col :cols="12" :lg="6" :md="6" :offset-lg="3" :offset-md="3">
        <v-form ref="form" v-model="valid">
          <v-card elevation="6">
            <v-card-title class="headline primary justify-center white--text">
              Edit Profile
            </v-card-title>
            <v-card-text class="pt-6">
                <v-text-field
                  label="Name" 
                  v-model="data.name" 
                  :rules="requiredRule" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-text-field 
                  label="Email" 
                  v-model="data.email" 
                  :rules="emailRules" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-text-field 
                  label="Username" 
                  v-model="data.username" 
                  :rules="requiredRule" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-select
                  :items="roles"
                  label="Roles"
                  dense
                  item-text="role"
                  item-value="id"
                  v-model="data.role_id"
                  :rules="requiredRule"
                  outlined
                  class="py-0 my-0"
                  v-if="currentUser.role_id == 1"
                ></v-select>
                <v-text-field 
                  label="Password" 
                  v-model="data.password" 
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-text-field 
                  label="Confirm Password" 
                  v-model="data.confirmPassword" 
                  :rules="confirmPassword" 
                  v-if="data.password" 
                  :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword2 ? 'text' : 'password'"
                  @click:append="showPassword2 = !showPassword2" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="submit">Submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
</template>
<script>
import Swal from 'sweetalert2';
export default {
  data() {
    return {
      valid: false,
      showPassword: false,
      showPassword2: false,
      users: [],
      search: '',
      data: {},
      roles: [],
      requiredRule: [
        v => !!v || 'This field is required',
      ],
      emailRules:  [
          email => !!email || "E-mail is required",
          email => /.+@.+\..+/.test(email) || "E-mail must be valid"
      ],
      headers: [
        {
          text: 'Username',
          align: 'start',
          filterable: false,
          value: 'username',
        },
        { text: 'Email', value: 'email' },
        { text: 'Role', value: 'role.role' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },

  computed: {
    confirmPassword: {
      get() {
        return [
          !!this.data.confirmPassword || "Password is required",
          this.data.password === this.data.confirmPassword || "Password must match"
        ];
      }
    },

    currentUser: {
      get(){
        return this.$store.state.currentUser.user[0];
      }
    }
  },

  methods: {
    fetch(){
      this.axios.get('api/get').then(response => {
        this.data = response.data.user
      })
    },

    submit(){
      var valid = this.$refs.form.validate();
      if(valid === true){
        this.axios.post('api/submitUser', this.data).then(response => {
          Swal.fire({
            icon: 'success',
            title: 'Success',
            text: response.data.message,
            showConfirmButton: false,
            timer: 1500
          })
          this.fetch();
          this.$store.commit('currentUser/setUser', {
            '0': this.data,
          })
        })
      }
    },

    getRoles(){
      this.axios.get('api/admin/get').then(response => {
        this.roles = response.data.roles
        console.log(this.roles);
      })
    }
  },
  
  created(){
    this.fetch();
    this.getRoles();
    this.$store.dispatch('currentUser/getUser')
  }
}
</script>
