<template>
  <div>
    <v-row class="pa-5">
      <v-col :cols="12" :lg="4" :md="4">
        <v-form ref="form" v-model="valid">
          <v-card elevation="6">
            <v-card-title class="headline primary justify-center white--text">
              User Form
            </v-card-title>
            <v-card-text class="pt-6">
                <v-text-field 
                  label="Name" 
                  v-model="data.name" 
                  :rules="requiredRule" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-text-field 
                  label="Email" 
                  v-model="data.email" 
                  :rules="emailRules" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-text-field 
                  label="Username" 
                  v-model="data.username" 
                  :rules="requiredRule" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
                <v-select
                  :items="roles"
                  label="Roles"
                  dense
                  item-text="role"
                  item-value="id"
                  v-model="data.role_id"
                  :rules="requiredRule"
                  outlined
                  class="py-0 my-0"
                ></v-select>
                <v-text-field 
                  label="Password" 
                  v-model="data.password" 
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword"
                  outlined
                  :rules="isEditing === false ? requiredRule : ''"
                  class="py-0 my-0"
                ></v-text-field>
                <v-text-field 
                  label="Confirm Password" 
                  v-model="data.confirmPassword" 
                  :rules="confirmPassword" 
                  v-if="data.password" 
                  :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword2 ? 'text' : 'password'"
                  @click:append="showPassword2 = !showPassword2" 
                  outlined
                  class="py-0 my-0"
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="submit">Submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-col>
      <v-col :cols="12" :lg="8" :md="8">
        <v-card elevation="6">
          <v-card-title style="width: 30%" class="mr-0"> 
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="users"
            :search="search"  
          >
            <template v-slot:item.actions="{ item }">
              <v-btn icon color="orange" @click="editUser(item.id, true)"><v-icon>mdi-pencil</v-icon></v-btn>
              <v-btn icon color="red" @click="deleteUser(item.id)"><v-icon>mdi-delete</v-icon></v-btn>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Swal from 'sweetalert2';
export default {
  data() {
    return {
      isEditing: false,
      valid: false,
      showPassword: false,
      showPassword2: false,
      users: [],
      search: '',
      data: {},
      roles: [],
      requiredRule: [
        v => !!v || 'This field is required',
      ],
      emailRules:  [
          email => !!email || "E-mail is required",
          email => /.+@.+\..+/.test(email) || "E-mail must be valid"
      ],
      headers: [
        {
          text: 'Username',
          align: 'start',
          filterable: false,
          value: 'username',
        },
        { text: 'Email', value: 'email' },
        { text: 'Role', value: 'role.role' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },

  computed: {
    confirmPassword: {
      get() {
        return [
          !!this.data.confirmPassword || "Password is required",
          this.data.password === this.data.confirmPassword || "Password must match"
        ];
      }
    }
  },

  methods: {
    editUser(val, bool){
      this.isEditing = bool;
      this.data = this.users.filter(e => e.id == val)[0];
      this.$forceUpdate();
    },

    deleteUser(val){
      this.data.id = val
      Swal.fire({
        title: 'Do you want to remove this user?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Yes',
        denyButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          this.axios.post('api/admin/deleteUser', this.data).then(response => {
            if(response.data.error === false){
              Swal.fire('Successfully removed', '', 'success')
              this.fetch();
            }
          })
        } else if (result.isDenied) {
          Swal.fire('Changes are not saved', '', 'info')
        }
      })
    },

    fetch(){
      this.axios.get('api/admin/fetchUser').then(response => {
        this.users = response.data.users
      })
    },

    submit(){
      var valid = this.$refs.form.validate();

      if(valid === true){
        this.axios.post('api/submitUser', this.data).then(response => {
          if(response.data.error === false) {
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: response.data.message,
              showConfirmButton: false,
              timer: 1500
            })
            this.data = {}
            this.$refs.form.reset()
            this.fetch();
            this.isEditing = false;
          } else {
            Swal.fire({
              icon: 'warning',
              text: response.data.message,
            })
          }
        })
      }
    },

    getRoles(){
      this.axios.get('api/admin/get').then(response => {
        this.roles = response.data.roles
      })
    }
  },
  
  created(){
    this.fetch();
    this.getRoles();
  }
}
</script>
