<template>
  <div>
    <v-app>
      <AdminContainer :user="currentUser" v-if="currentUser ? currentUser.role_id == 1 : ''"/>
      <BloggerContainer :user="currentUser" v-if="currentUser ? currentUser.role_id == 2 : ''"/>
      <LoginComponent v-if="!currentUser"/>
    </v-app>
  </div>
</template>

<script>
import AdminContainer from './admin/AdminContainer.vue'
import BloggerContainer from './blogger/BloggerContainer.vue'
import LoginComponent from './LoginComponent.vue'
export default {
  name: "app-component",
  components: {
    AdminContainer,
    LoginComponent,
    BloggerContainer,
  },

  computed: {
    currentUser: {
      get() {
        return this.$store.state.currentUser.user[0];
      }
    },
  },

  created(){
    var user = JSON.parse(localStorage.getItem('vuex'));
    if(user.currentUser.user[0]){
      this.$store.dispatch("currentUser/getUser");
    }

  }
};
</script>