<template>
  <div>
    <v-fab-transition>
      <v-btn
        @click="activeFab.color == 'red' ? (edit = false) : (edit = true)"
        :key="activeFab.icon"
        :color="activeFab.color"
        fab
        large
        dark
        fixed
        right
        bottom
        class="v-btn--example"
      >
        <v-icon>{{ activeFab.icon }}</v-icon>
      </v-btn>
    </v-fab-transition>
    <v-dialog v-model="edit" width="1050" persistent>
      <v-card elevation="5">
        <v-toolbar
          flat
          dark
          color="primary"
        >
          <v-toolbar-title>Create Blog</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              icon
              @click="closeForm"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid">
              <v-row>
                <v-col :cols="12">
                  <v-text-field
                    v-model="data.title"
                    :rules="requiredRule"
                    clear-icon="mdi-close-circle"
                    clearable
                    label="Title"
                    type="text"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col :cols="12">
                  <v-textarea
                    v-model="data.description"
                    clear-icon="mdi-close-circle"
                    clearable
                    label="Description"
                    :rules="requiredRule"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="my-2" color="primary" @click="sendBlog">Publish</v-btn>
              </v-card-actions>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
    <div class="pa-5">
      <v-row>
        <v-col :cols="12" :lg="2" :md="2" :offset-lg="10" :offset-md="10">
          <v-text-field 
            v-model="search" 
            label="Search"
            append-outer-icon="mdi-magnify"
            clear-icon="mdi-close-circle"
            clearable
            type="text"
            @click:append-outer="searchBlog"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row v-if="information.length > 0">
        <v-col v-for="(data, i) in information" :key="i" :cols="12" :lg="12" :md="12">
          <v-card elevation="4">
            <v-card-title><p :class="data.status == 2 ? 'subtitle text-decoration-line-through' : 'subtitle'">{{ data.title }}</p></v-card-title>
            <v-card-text><p class="caption">{{ data.description }}</p></v-card-text>
            <v-card-actions>
              <v-btn icon class="mt-1" @click="editTodo(data.id)" color="#000000">
                <v-icon small>mdi-pencil</v-icon>
              </v-btn>
              <v-btn icon class="mt-1" @click="deleteBlog(data.id)" color="#000000">
                  <v-icon small>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <div v-else>
        No blog found
      </div>
      <v-pagination
        class="pa-5"
        v-model="page"
        :length="last_page"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
import Nav from './nav'
export default {
  components: {
    Nav
  },

  data() {
    return {
      search: '',
      information: {},
      data: {},
      totalTodo: 0,
      page: 1,
      last_page: 1,
      edit: false,
      valid: false,
      requiredRule: [
        v => !!v || 'This field is required',
      ],
    }
  },

  computed: {
    activeFab: {
      get() {
        switch (this.edit) {
          case false:
            return { color: "success", icon: "mdi mdi-plus-circle" };
          case true:
            return { color: "red", icon: "mdi mdi-close" };
        }
      }
    },

    currentUser: {
      get() {
        return this.$store.state.currentUser.user[0];
      }
    },
  },

  watch: {
    page: function() {
      if (typeof this.page === "undefined") {
        this.page = 1;
      }
      
      this.axios
        .post('api/blog/fetchBlog?page=' + this.page)
        .then(response => {
          var filter = response.data.data.data
          this.last_page = response.data.data.last_page
          this.information = filter.sort(function(a, b) {
            return a.status - b.status;
          });
        });
    },
  },

  methods: {
    closeForm(){
      this.edit = false
      this.data = {};
    },
    searchBlog() {
      this.axios.post('api/blog/searchBlog', this.page, {
        params: { search: this.search, isOwned: true },
      }).then(response => {
        this.information = response.data.data.data;
        this.last_page = response.data.data.last_page;
      })
    },

    deleteBlog(val){
      this.data.id = val
      Swal.fire({
        title: 'Do you want to remove this blog post?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Yes',
        denyButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          this.axios.post('api/blog/deleteBlog', this.data).then(response => {
            if(response.data.error === false){
              Swal.fire('Successfully removed', '', 'success')
              this.fetchBlog();
            }
          })
        } else if (result.isDenied) {
          Swal.fire('Changes are not saved', '', 'info')
        }
      })
        
    },

    fetchBlog(){
      console.log('Fetched');
      this.axios.post('api/blog/fetchBlog?page=' + this.page).then(response => {
        this.information = response.data.data.data;
        this.last_page = response.data.data.last_page

        var filter = response.data.data.data

        this.information = filter.sort(function(a, b) {
          return a.status - b.status;
        });
      });
    },

    sendBlog() {
      var valid = this.$refs.form.validate();
      if(valid === true){
        this.axios.post("/api/blog/sendBlog", this.data).then(res => {
          if(res.error != false){
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: 'Blog has been added',
            })
            this.fetchBlog();
            this.closeForm();
          }
        })
      }
      this.$forceUpdate();
    },

    editTodo(val) {
      this.edit = true;
      this.data = this.information.filter(e => e.id == val)[0];
      this.$forceUpdate();
    },
    
    // checkBlog(val, status){
    //   this.data.id = val
    //   this.data.status = status;
    //   this.axios.post("/api/blog/checkBlog", this.data).then(res => {
    //     if(res.error != false){
    //       Swal.fire({
    //         icon: 'success',
    //         title: 'Success',
    //         text: 'Blog has been updated',
    //       })
    //       this.fetchBlog();
    //     }
    //   })
    // },
  },
  
  created(){
    this.fetchBlog();
    this.$store.dispatch('currentUser/getUser')
  }
}
</script>
<style scoped>
.done {
  background-color: #C8E6C9;
}

.ellipsis {
  white-space: nowrap; 
  width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
</style>
