<template>
  <div>
    <div class="pa-5">
      <v-row>
        <v-col :cols="12" :lg="2" :md="2" :offset-lg="10" :offset-md="10">
          <v-text-field 
            v-model="search" 
            label="Search"
            append-outer-icon="mdi-magnify"
            clear-icon="mdi-close-circle"
            clearable
            type="text"
            @click:append-outer="searchBlog"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row v-if="information.length > 0">
        <v-col v-for="(data, i) in information" :key="i" :cols="12" :lg="2" :md="2">
          <v-card width="300" height="200" hover :to="'/view/' + data.id">
            <v-card-title><p :class="data.status == 2 ? 'subtitle text-decoration-line-through ellipsis' : 'subtitle ellipsis'">{{ data.title }}</p></v-card-title>
            <v-card-text><p class="caption ellipsis">{{ data.description }}</p></v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <div v-else>
        No blog found
      </div>
      <v-pagination
        class="pa-5"
        v-model="page"
        :length="last_page"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
      ></v-pagination>
    </div>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
import Nav from './nav'
export default {
  components: {
    Nav
  },

  data() {
    return {
      search: '',
      information: {},
      data: {},
      totalTodo: 0,
      page: 1,
      last_page: 1,
      edit: false,
      valid: false,
      requiredRule: [
        v => !!v || 'This field is required',
      ],
    }
  },

  computed: {
    activeFab: {
      get() {
        switch (this.edit) {
          case false:
            return { color: "success", icon: "mdi mdi-plus-circle" };
          case true:
            return { color: "red", icon: "mdi mdi-close" };
        }
      }
    },

    currentUser: {
      get() {
        return this.$store.state.currentUser.user[0];
      }
    },
  },

  watch: {
    page: function() {
      if (typeof this.page === "undefined") {
        this.page = 1;
      }
      
      this.axios.post('api/blog/fetchBlog?page=' + this.page).then(response => {
        this.information = response.data.all.data;
        this.last_page = response.data.all.last_page
      });
    },
  },

  methods: {
    viewBlog(val){
      alert(val);
    },

    searchBlog() {
      this.axios.post('api/blog/searchBlog', this.page, {
        params: { search: this.search, isOwned: false },
      }).then(response => {
        this.information = response.data.data.data;
        this.last_page = response.data.data.last_page;
      })
    },

    deleteBlog(val){
      this.data.id = val
      Swal.fire({
        title: 'Do you want to remove this blog post?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'Yes',
        denyButtonText: 'No',
      }).then((result) => {
        if (result.isConfirmed) {
          this.axios.post('api/blog/deleteBlog', this.data).then(response => {
            if(response.data.error === false){
              Swal.fire('Successfully removed', '', 'success')
              this.fetchBlog();
            }
          })
        } else if (result.isDenied) {
          Swal.fire('Changes are not saved', '', 'info')
        }
      })
        
    },

    fetchBlog(){
      console.log('Fetched');
      this.axios.post('api/blog/fetchBlog?page=' + this.page).then(response => {
        console.log(response.data);
        this.information = response.data.all.data;
        this.last_page = response.data.all.last_page
      });
    },

    sendBlog() {
      var valid = this.$refs.form.validate();
      if(valid === true){
        this.axios.post("/api/blog/sendBlog", this.data).then(res => {
          if(res.error != false){
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: 'Blog has been added',
            })
            this.fetchBlog();
            this.closeForm();
          }
        })
      }
      this.$forceUpdate();
    },

    editTodo(val) {
      this.edit = true;
      this.data = this.information.filter(e => e.id == val)[0];
      this.$forceUpdate();
    },
  },
  
  created(){
    this.fetchBlog();
    this.$store.dispatch('currentUser/getUser')
  }
}
</script>
<style scoped>
.done {
  background-color: #C8E6C9;
}

.ellipsis {
  white-space: nowrap; 
  width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
</style>
