<template>
  <div>
    <v-container style="padding-top: 14%; text-align: -webkit-center">
      <v-form ref="form" v-model="valid">
        <v-card elevation="4" width="500">
          <v-card-title class="headline primary justify-center white--text">Login</v-card-title>
          <v-card-text class="pt-5">
            <v-row>
              <v-col :cols="12" class="pt-6 pb-0">
                <v-text-field v-model="user.username" label="Username" outlined></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col :cols="12" class="pt-0">
                <v-text-field 
                  v-model="user.password" 
                  label="Password" 
                  outlined
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPassword ? 'text' : 'password'"
                  @click:append="showPassword = !showPassword" 
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col :cols="12">
                <p>Don't have an account? <a href="/registration">Sign up</a></p>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="pt-0 mt-0">
            <v-spacer></v-spacer>
            <v-btn class="mt-1 primary" @click="login">
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-container>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
export default {
  data() {
    return {
      user: {},
      valid: false,
      requiredRule: [
        v => !!v || 'This field is required',
      ],
      showPassword: false,
    }
  },

  methods: {
    login(){
      var valid = this.$refs.form.validate();

      if(valid === true){
        this.$store.dispatch("currentUser/login", this.user)
      }
    }
  }
};
</script>