<template>
  <div>
    <v-container style="padding-top: 10%; text-align: -webkit-center">
      <v-form v-model="valid" ref="form">
        <v-card elevation="4" width="600">
          <v-card-title class="headline primary justify-center white--text">Create Account</v-card-title>
          <v-card-text class="pt-5">
              <v-row>
                <v-col :cols="12" class="pt-6 pb-0">
                  <v-text-field v-model="user.name" label="Name" :rules="requiredRule" outlined></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col :cols="12" class="py-0">
                  <v-text-field v-model="user.email" label="Email" :rules="emailRules" outlined></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col :cols="12" class="py-0">
                  <v-text-field v-model="user.username" label="Username" :rules="requiredRule" outlined></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col :cols="12" :lg="6" :md="6" class="py-0">
                  <v-text-field 
                    v-model="user.password" 
                    label="Password" 
                    :rules="passwordRule" 
                    outlined
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                  ></v-text-field>
                </v-col>
                <v-col :cols="12" :lg="6" :md="6" class="py-0">
                  <v-text-field 
                    v-model="user.confirmPassword" 
                    label="Confirm Password" 
                    :rules="confirmPassword"
                    outlined
                    :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword2 ? 'text' : 'password'"
                    @click:append="showPassword2 = !showPassword2"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col :cols="12">
                  <p>Already have an account? <a href="/">Login</a></p>
                </v-col>
              </v-row>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="mt-1 primary" @click="register">
              Create
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
export default{
  data(){
    return {
      user: {},
      valid: false,
      requiredRule: [
        v => !!v || 'This field is required',
      ],
      passwordRule: [
        v => !!v || 'This field is required',
        v => v.length >= 5 || "Password must have at least 5 characters"
      ],
      emailRules:  [
          email => !!email || "E-mail is required",
          email => /.+@.+\..+/.test(email) || "E-mail must be valid"
      ],
      showPassword: false,
      showPassword2: false,
    }
  },

  computed: {
    confirmPassword: {
      get() {
        return [
          !!this.user.confirmPassword || "Password is required",
          this.user.password === this.user.confirmPassword || "Password must match"
        ];
      }
    }
  },

  methods: {
    register(){
      var valid = this.$refs.form.validate();
      this.user.role_id = 2;
      if(valid === true){
        this.axios.post('api/submitUser', this.user).then(response => {
          if(response.data === false){
            Swal.fire({
              icon: 'success',
              title: 'Information submitted',
              text: 'You will be redirected to our login page',
              showConfirmButton: false,
              timer: 1500
            })
            this.$refs.form.reset()
            setTimeout(() => {
              window.location.href = "/";
            }, 1600);
          } else {
            Swal.fire({
              icon: 'warning',
              text: response.data.message,
            })
          }
        })
      }
    }
  }
}
</script>
