<template>
  <div class="pa-5 ma-5">
    <v-row>
      <v-col :cols="12" :lg="12" :md="12">
        <v-card elevation="4">
          <v-card-text>
            <v-row>
              <v-col :cols="12">
                <span class="title">
                  {{ this.blog.title }}
                </span>
                <br>
                <span class="text-capitalize">
                  {{ this.blog.user ? this.blog.user.username : '' }}
                </span>-
                <span>
                  {{ this.blog.time_ago }}
                </span>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row class="py-5">
              <v-col :cols="12" :lg="12" :md="12">
                {{this.blog.description}}
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text class="pa-5">
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data(){
    return {
      blog: {},
    }
  },

  methods: {
    getBlog(id){
      this.blog.id = id
      this.axios.post('/api/blog/fetchBlog', this.blog).then(response => {
        this.blog = response.data.blog
      })
    }
  },

  created(){
    this.getBlog(this.$route.params.id);
  }
}
</script>
