<template>
    <v-app-bar
      color="primary"
      dense
      dark
    >
      <v-toolbar-title class="text-capitalize" v-if="user.role_id == 1">
        <router-link to="/admin/users" style="text-decoration: none;">
            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title>Users</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>
      </v-toolbar-title>
      <v-toolbar-title class="text-capitalize" v-if="user.role_id == 2">
        <router-link to="/blogs" style="text-decoration: none;">
            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title>Blogs</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>
      </v-toolbar-title>
      
      <v-spacer></v-spacer>
      <v-toolbar-title class="text-capitalize">Hi {{ user.name }}</v-toolbar-title>

      <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-chevron-down-circle</v-icon>
          </v-btn>
        </template>

        <v-list>
          <router-link to="/add_blog" style="text-decoration: none;" v-if="currentUser.role_id == 2">
            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title>My Blog</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>
          <router-link to="/edit" style="text-decoration: none;">
            <v-list-item link>
              <v-list-item-content>
                <v-list-item-title>Edit</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </router-link>
          <v-list-item
            @click="logout"
          >
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
</template>
<script>

export default {
  props: ['user'],
  methods: {
    logout(){
      this.$store.dispatch('currentUser/logout');
    }
  },

  watch: {
    currentUser: function(){
      console.log('asdkljasdkl');
    }
  },

  computed: {
    currentUser: {
      get(){
        return this.$store.state.currentUser.user[0];
      }
    }
  },

  created(){
    this.$store.dispatch('currentUser/getUser');
  }

}
</script>
